In [1]:
import project_path

import pandas as pd
from sof_sa.utility_functions import connect2db, db_config

creds = db_config("..\\dev_dbconfig.yaml", 0)
engine = connect2db(**creds)

In [5]:
# function to scrape data into staging db
import requests

url = 'https://www.globalbrainforce.com/blog/software-developer-salary-around-the-world/'

def scrape_data(url):
    """
    A function to scrape data from the web.
    Params :
        url - url for the web page to be scraped.
    Returns:
        Tables in the web page in a list of pandas dataframe objects
    """
    header = {
    "User-Agent" : "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/53>",
    "X-Requested-With" : "XMLHttpRequest"
    }

    r = requests.get(url, headers=header)
    web_data = pd.read_html(r.text)
    return web_data

_data = scrape_data(url)[3]
_data

     Programming Language Salary in USD
0                    Perl       $76,000
1                   Scala       $76,000
2                      Go       $74,000
3                    Rust       $74,000
4                    Ruby       $71,000
5   Bash/Shell/PowerShell       $65,000
6             Objective-C       $64,000
7                 Haskell       $60,000
8                   Julia       $59,000
9                  Python       $59,000
10                  Swift       $58,000
11                     C#       $57,000
12                      R       $57,000
13             TypeScript       $57,000
14                 Kotlin       $54,000
15                    SQL       $54,000
16               Assembly       $53,000
17                    C++       $53,000
18             JavaScript       $53,000
19               HTML/CSS       $52,000
20                    VBA       $51,000
21                      C       $50,000
22                   Java       $50,000
23                    PHP       $39,000
24                   Dart       $37,000

In [8]:
# Transformations
# Setting column names
_data.columns = ['progamming_language', 'salary_in_usd']

# Removing the $ sign from colmn salary_in_usd and setting type to float
_data['salary_in_usd'] = _data['salary_in_usd'].str.replace('$', '')
_data['salary_in_usd'] = _data['salary_in_usd'].astype(float)

Index(['progamming_language', 'salary_in_usd'], dtype='object')

In [ ]:
# Writing data to the database 
# Table name : programming_language_salary_staging
with engine.connect() as connection:
    _data.to_sql('programming_language_salary_staging', con=connection, if_exists='replace')

In [10]:
# Now working with csv files from stackoverflow survey
# loading in data 
raw_df20 = pd.read_csv("..\\data\\survey_results_public_2020.csv")
raw_df21 = pd.read_csv("..\\data\\survey_results_public_2021.csv")

with engine.connect() as connection:
    raw_df20.to_sql('raw_2020', con=connection, if_exists='replace')
    raw_df21.to_sql('raw_2021', con=connection, if_exists='replace')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [4]:
raw_df21 = pd.read_csv("..\\data\\2020_sharing_data_outside.csv")
raw_df21.head()

C:\Users\nzman\AppData\Local\Temp\ipykernel_16732\4032837907.py:1: DtypeWarning: Columns (8,14,15,22,23,42,43,48,51,52,53,54,56,66,74,78,87,92,100,101,102,109,110,121,122,123,126,127,129,130,131,133,134,135,136,137,138,139,140,142,143,144,146,148,152,154,155,156,159,160,161,163,164,165,166,169,170,171,172,173,175,176,177,178,179,180,181,182,215,221,231,232,236,239,240,243,244,245,246,247,248,251,252,254,257,258,259,260,271,272,279,286,289,290,291,293,304,307,308,310,312,313,315,316,317,320,321,324,326,329,330,336,337,340,341,342,347,348,349,350,351,355,356,357,358,359,360,362,363,366,367,368,369,371,372,376,377,378,379,380,382,383,384,385,386,387,388,396,410,412,414,417,420,421,422,423,424,425,426,427,428,429,432,433,434,444,449,452,454,455,457,458,459,463,465,466,467,468,469,470,473,474,475,477,480,481,482,484,487,488,489,490,493,494,495,496,497,499,500,501,502,503,504,505,507,510,511,515,516,517,518,521,522,523,524,525,526,527,528,530,531,532,534,536,538,539,540,541,544,545,548,550,551,552,554,555,556,557,558,559,560,561,562,563,564,565,566,568,569,570,571,572,573,574,575,576,577,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,603,605,606,608,613,614,615,616,617,618,619,621,622,623,624,625,626,627,629,630,631,632,633,634,635,637,638,639,640,641,642,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,707,708,709,710,711,714,715,716,718,719,720,721,722,723,727,729,734,736,737,741,742,743,746,747,749,750,752,755,757,763,764,766,768,769,773,775,777,778,779,781,785,786,787,788,789,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,808,809,810,811,814,816,817,818,819,820,824,825,829,835,837,838,843,845,847,848,849,850,852,853,854,855,856,857,858,859,860,862,864,865,866,868,871,873,874,875,876,877,878,883,884,885,886,887,888,890,893,894,895,896,898,900,901,902,903,904,907,908,909,910,912,913,914,915,916,917,918,919,920,923,925,926,927,928,929,931,932,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,987,988,989,990,991,992,993,994,995,996,997,998,999,1001,1003,1004,1006,1007,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1073,1074,1075,1076,1078,1080,1081,1082,1083,1084,1085,1087,1088,1089,1090,1091,1092,1094,1095,1096,1097,1098,1099,1100,1102,1103,1104,1106,1107,1108,1109,1110,1111,1113,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1202,1205,1206,1207,1208,1210,1211,1214,1217,1220,1222,1225,1226,1227,1228,1236,1237,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1336,1337,1338,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1358,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1376,1377,1378,1379,1380,1381,1382,1383,1387,1388,1389,1390,1393,1394,1395,1396,1397,1399,1400,1401,1402,1403,1406,1407,1408,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1438,1439,1440,1441,1443,1444,1445,1446,1447,1454,1455,1456,1457,1459,1462,1477,1480,1481,1482,1483,1484,1486,1487,1490,1491,1492,1493,1503,1506,1507,1508,1509,1513,1522,1523,1527,1528,1529,1530,1531,1532,1533,1534,1535,1538,1541,1542,1543,1545,1546,1547,1549,1550,1552,1553,1555,1556,1557,1558,1559,1560,1562,1563,1565,1567,1568,1569,1570,1571,1576,1578,1579,1580,1589,1590,1594,1595,1597,1598,1599,1603,1604,1605,1606,1607,1608,1610,1612,1613,1614,1616,1618,1619,1621,1622,1623,1624,1629,1630,1632,1633,1635,1637,1638,1639,1640,1642,1643,1644,1646,1648,1649,1650,1651,1652,1653,1654,1655,1657,1658,1659,1660,1661,1662,1663,1667,1668,1670,1672,1675,1676,1677,1678,1681,1682,1683,1684,1685,1689,1691,1692,1693,1695,1697,1698,1699,1701,1702,1705,1707,1708,1710,1711,1712,1713,1715,1716,1717,1719,1720,1725,1729,1734,1735,1736,1737,1739,1745,1746,1747,1748,1750,1756,1764,1769,1770,1771,1772,1773,1774,1775,1776,1778,1780,1781,1782,1783,1785,1787,1788,1789,1791,1792,1793,1794,1795,1796,1801,1802,1803,1804,1807,1808,1809,1810,1811,1812,1813,1817,1818,1820,1821,1822,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1835,1836,1837,1838,1839,1840,1841,1842,1845,1846,1847,1848,1849,1850,1853,1854,1855,1856,1857,1858,1864,1865,1866,1867,1872,1873,1874,1875,1879,1881,1882,1883,1885,1886,1887,1888,1889,1890,1892,1894,1896,1897,1898,1900,1901,1904,1905,1907,1908,1909,1910,1914,1917,1919,1924,1926,1929,1930,1931,1933,1934,1935,1936,1939,1940,1941,1942,1943,1945,1946,1947,1951,1958,1961,1962,1964,1965,1967,1968,1969,1970,1975,1979,1980,1981,1982,1983,1984,1989,1990,1991,1992,1994,1996,1997,1998,1999,2000,2001,2004,2010,2012,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2034,2035,2036,2041,2042,2043,2044,2045,2046,2047,2048,2050,2051,2052,2053,2054,2055,2056,2057,2059,2060,2062,2063,2064,2065,2066,2067,2068,2071,2072,2079,2082,2083,2085,2087,2090,2091,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2111,2112,2113,2114,2115,2116,2123,2124,2133,2134,2136,2137,2138,2139,2140,2141,2142,2144,2146,2147,2148,2149,2150,2151,2153,2164,2178,2186,2189,2190,2191,2192,2194,2197,2199,2205,2206,2210,2211,2212,2214,2215,2217,2221,2226,2227,2228,2229,2230,2231,2232,2257,2260,2263,2265,2268,2270,2271,2276,2277,2278,2279,2280,2281,2282,2283,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_df21 = pd.read_csv("..\\data\\2020_sharing_data_outside.csv")

,employment_status,job_role.Developer / Programmer / Software Engineer,job_role.DevOps Engineer / Infrastructure Developer,job_role.DBA,job_role.Architect,job_role.Tester / QA Engineer,job_role.Technical Support,job_role.Data Analyst / Data Engineer/ Data Scientist,job_role.Business Analyst,job_role.Team Lead,...,primary.F#,rank.Assembly,rank.Julia,primary.Perl,rank.I don't use programming languages,primary.I don't use programming languages,is_employed,main,source,weight
0,Fully employed by a company / organization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Team Lead,...,NaN,NaN,NaN,NaN,NaN,NaN,Employed,JavaScript,external,0.653323
1,Fully employed by a company / organization,NaN,NaN,NaN,Architect,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Employed,Java,external,0.797550
2,Freelancer (a person pursuing a profession wit...,Developer / Programmer / Software Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Employed,Java,external,0.302700
3,Fully employed by a company / organization,Developer / Programmer / Software Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Team Lead,...,NaN,NaN,NaN,NaN,NaN,NaN,Employed,Java,internal,0.177387
4,Fully employed by a company / organization,Developer / Programmer / Software Engineer,DevOps Engineer / Infrastructure Developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Employed,Java,internal,0.000000