In [15]:
import project_path
import json
from sqlalchemy import create_engine, engine
from contextlib import contextmanager
import logging

def get_credentials(filepath : str) -> dict:
    """Loads database credentials from file.
    Args: 
        filepath - path to the json file

    Returns :
        A dictionary containing database credentials
    """
    with open(filepath, "r") as file:
        data = json.load(file)
   
    return data

c = get_credentials(r"C:\Users\znman\Desktop\Projects\sof_sa\sof_sa\conf\staging_db_credentials.json")

@contextmanager
def open_db(credentials : dict) -> engine.Connection:
    """Connects to the databse specified in the credentials

    Args:
        credentials (dict): Database credentials in the form user, password, host, database name

    Returns:
        engine: a sqlalchemy engine object
    """
    print(credentials)
    try:
        DATABASE_URL = f'mysql+mysqlconnector://{credentials["user"]}:{credentials["password"]}@{credentials["host"]}/{credentials["database"]}'
        engine = create_engine(DATABASE_URL)
        connection = engine.connect()
        yield connection
    except Exception as error:
        logging.error(error) 
        
with open_db(c) as connection:
    pass

{'user': 'zie', 'password': 'Z01011010$$mysqlzie', 'host': '127.0.0.1', 'database': 'staging_db'}

TypeError: 'Connection' object is not an iterator

In [3]:
import logging
import pandas as pd
import numpy as np
from essential_functions import add_year, replace_with_mean, remove_outlier, clean_gender_column, clean_ethnicity_column

# -------------------- TRANSFORMATION PROCESS ---------------------
log.info(">> TRANSFORMATION PROCESS STARTED")
try:
    # Reading in SQL statements from different sql files
    with open('./SQL/select_2018_data.sql', 'r') as f18, open('./SQL/select_2019_data.sql', 'r') as f19, open('./SQL/select_2020_data.sql', 'r') as f20:
        select_query_18 = f18.read()
        select_query_19 = f19.read()
        select_query_20 = f20.read()
    
    # Storing the results of the queries as dataframes for easy manipulation
    log.info("STARTED READING DATA FROM DATABASE")
    with engine_stagingdb.connect() as conn:
        df18 = pd.read_sql(select_query_18, index_col='Respondent', con=conn)
        df19 = pd.read_sql(select_query_19, index_col='Respondent', con=conn)
        df20 = pd.read_sql(select_query_20, index_col='Respondent', con=conn)

    if (df18.shape[0] != 0 and df19.shape[0] != 0 and  df20.shape[0] != 0):
        log.info("READING DATA FROM DATABASE COMPLETED")

except Exception as e:
    log.exception(e)

log.info("DATA CLEANING IN PROGRESS")
try:
    # Adding a column Year to each dataframe to easily categorize the data by year 
    df18 = add_year(df18, 2018)
    df19 = add_year(df19, 2019)
    df20 = add_year(df20, 2020)

    # In the 2018 dataframe the column Age is in range form.
    # Problem : Age in 2018 was recorded as a range however in 2019 and 2020 it was recorded as a sinlge 
    # value hence data in the column Age do not match. 
    # Solution : Take the mean of each range in the 2018 column and set that to Age for that particular column 
    # for example a Age entry with range 28-32 will be replaced by 30 
    alist = list(df18['Age'])
    new_age = []

    # Calculating the average of the range chosen and adding it as the age
    # The records with age as Under 18 years old and 65 years or older
    # will be replace by 18 and 65 
    for age in alist:
        if age != None:
            if '-' in age:
                age1 = int(age.split(' ')[0])
                age2 = int(age.split(' ')[2])
                new_age.append((age1 + age2)/2)
            elif age == "Under 18 years old":
                age_u18 = int(age.split(' ')[1])
                new_age.append(age_u18)
            elif age == "65 years or older":
                age_u18 = int(age.split(' ')[0])
                new_age.append(age_u18)
        else:
            new_age.append(age)

    # replacing the column Age with the new ages
    df18['Age'] = new_age

    # missing age values 
    df18 = replace_with_mean(df18)
    df19 = replace_with_mean(df19)
    df20 = replace_with_mean(df20)

    # Making column Age the correct data type
    df18.Age = df18.Age.astype(int)

    # Exploring the Gender column
    # Removing ambiguity in the gender column
    df18['Gender'] = clean_gender_column(df18)
    df19['Gender'] = clean_gender_column(df19)
    df20['Gender'] = clean_gender_column(df20)

    # Normalizing the columns of df_2019 and df_2020 
    converted_gender_names = {"Gender": {"Man": "Male", "Woman": "Female"}}
    df19.replace(converted_gender_names, inplace=True) 
    df20.replace(converted_gender_names, inplace=True)

    # Merging the Gender and Trans columns in the 2019 and 2020 datasets since the option was offered under Gender in 2018
    # For the 2020 dataset
    conditions_df_2019 = [
        df19['Gender'].eq('Male') & df19['Trans'].eq('Yes'),
        df19['Gender'].eq('Male') & df19['Trans'].eq('No'),
        df19['Gender'].eq('Female') & df19['Trans'].eq('Yes'),
        df19['Gender'].eq('Female') & df19['Trans'].eq('No'),
        df19['Gender'].eq(np.nan) & df19['Trans'].eq('Yes'),
        df19['Gender'].eq(np.nan) & df19['Trans'].eq('No'),
    ]
    choices_df_2020 = ['Transgender','Male','Transgender','Female', 'Transgender', np.nan]
    df19['Gender'] = np.select(conditions_df_2019, choices_df_2020, default=0)

    # For the 2020 dataset
    conditions_df_2020 = [
        df20['Gender'].eq('Male') & df20['Trans'].eq('Yes'),
        df20['Gender'].eq('Male') & df20['Trans'].eq('No'),
        df20['Gender'].eq('Female') & df20['Trans'].eq('Yes'),
        df20['Gender'].eq('Female') & df20['Trans'].eq('No'),
        df20['Gender'].eq(np.nan) & df20['Trans'].eq('Yes'),
        df20['Gender'].eq(np.nan) & df20['Trans'].eq('No')
    ]
    choices_df_2020 = ['Transgender','Male','Transgender','Female', 'Transgender', np.nan]
    df20['Gender'] = np.select(conditions_df_2020, choices_df_2020, default=0)

    # Standardizing the JobSatisfaction column in the 2018 dataset
    l = {"JobSatisfaction" : {'Moderately satisfied':'Slightly satisfied', 'Moderately dissatisfied':'Slightly dissatisfied', 
                            'Extremely dissatisfied':'Very dissatisfied', 'Extremely satisfied':'Very satisfied'}}
    df18.replace(l, inplace=True)

    # Exploring the ethnicity column
    # Removing ambiguity in the gender column
    df18['Ethnicity'] = clean_ethnicity_column(df18)
    df19['Ethnicity'] = clean_ethnicity_column(df19)
    df20['Ethnicity'] = clean_ethnicity_column(df20)

    # The 2018 and 2019 datasets have similar values in the Ethnicity column except for addition of 'Multiracial' and
    # 'Biracial'. However the 2020 dataset has some inconsistences when compared with the other datasets therefore 
    # renaming values in the 2020 dataset.
    l_ethnicity = {"Ethnicity" : {'Indigenous (such as Native American, Pacific Islander, or Indigenous Australian)':'Native American, Pacific Islander, or Indigenous Australian',
     'Hispanic or Latino/a/x':'Hispanic or Latino/Latina'}}
    df20.replace(l_ethnicity, inplace=True) 

    # Merging the datasets
    df = pd.concat([df18, df19, df20])

    # The number of missing values in the salary column is to big and replacing the missing values with mean
    # will greatly affect the outcome of the analysis, therefore all missing values in the salary column
    # are dropped
    df = df[df['Salary'].notna()]

    # Now that all numeric columns do not contain nan's, fillna can be used to fill missing values in all 
    # other columns of type object 
    df.fillna('none', inplace=True)

    # Now outliers will be removed from columns containing numeric data namely Age and Salary 
    df = remove_outlier(df, 'Age')
    df = remove_outlier(df, 'Salary')

    # Since respondent ID is a randomized value it is only for maintaining uniqueness therefore resetting 
    # it will not affect the analysis resetting Respondent column from random values to ordered values 
    # going from 1,2...
    nlist = list(np.arange(df.shape[0]))
    df['Respondent'] = nlist
    df.set_index('Respondent', inplace=True)

    # Other columns do not need cleaning at this stage because their entries can be used for different purposes
    # so thats when the proper cleaning will be applied.
    log.info("DATASET CONTAINS %s COLUMNS AND %s ROWS", df.shape[1], df.shape[0])
    log.info("DATA CLEANING COMPLETE")
    log.info(">> TRANSFORMATION PROCESS COMPLETED SUCCESSFULLY")

except Exception as e:
    log.exception(e) 

# -------------------- TRANSFORMATION PROCESS ---------------------

# -------------------- LOADING PROCESS ---------------------
log.info(">> LOADING DATA TO TARGET DATABASE")

cols_interested_in = {
    "respondent_tbl" : ['Gender', 'Ethnicity', 'Age', 'Year'],
    "currtech_tbl" : ['DatabaseWorkedWith', 'LanguageWorkedWith', 'PlatformWorkedWith', 'FrameworkWorkedWith', 'Year'],
    "sat_tbl" : ['FormalEducation', 'Salary', 'JobSatisfaction', 'Year'],
    "dev_tbl" : ['DevType', 'Year']}

# creating tables
respondent_table = df[cols_interested_in['respondent_tbl']]
curtech_table = df[cols_interested_in['currtech_tbl']]
sat_table = df[cols_interested_in['sat_tbl']]
dev_table = df[cols_interested_in['dev_tbl']]


    # loading the tables to the database
with engine_targetdb.connect() as connection:
    respondent_table.to_sql('respondents', con=connection, if_exists='replace')
    curtech_table.to_sql('current_tech', con=connection, if_exists='replace')
    sat_table.to_sql('satisfaction', con=connection, if_exists='replace')
    dev_table.to_sql('developer_types', con=connection, if_exists='replace')

log.info(">> LOADING DATABASE TO TARGET DATABASE COMPLETED SUCCESSFULLY")
# -------------------- LOADING PROCESS ---------------------

[           Country Software Developer Salary
 0          The USA                  $110,638
 1      Switzerland                   $95,394
 2      New Zealand                   $46,229
 3           Norway                   $64,202
 4          Denmark                   $72,151
 5   United Kingdom                   $42,394
 6           Sweden                   $51,396
 7          Germany                   $60,162
 8      Netherlands                   $54,025
 9          Finland                   $49,203
 10       Australia                   $53,669
 11          France                   $46,508,
    Tech stack Salary 2017 Salary 2018 Salary 2019 Salary 2020 Salary 2021
 0        Java    $102,059    $102,985    $102,424    $104,838    $103,476
 1          C#     $92,378     $94,567     $95,052     $72,921     $82,490
 2         C++    $115,619    $115,430    $117,293    $107,845    $104,681
 3        .NET     $92,378     $88,919     $91,785     $96,182     $96,937
 4  JavaScript    $110,057    $110,514    $111,373    $115,261    $112,550
 5         PHP     $86,353     $86,335     $89,149     $81,582     $90,707,
    Tech stack Salary in Germany 2017 Salary in Germany 2018  \
 0        Java                $48,370                $56,475
 1          C#                $46,708                $56,733
 2         C++                $53,631                $55,563
 3        .NET                $48,290                $58,359
 4  JavaScript                $46,321                $53,823
 5         PHP                $47,421                $54,737

   Salary in Germany 2019 Salary in Germany 2020 Salary in Germany 2021
 0                $53,283                $59,882                $59,544
 1                $51,169                $55,981                $57,124
 2                $54,298                $60,451                $63,312
 3                $54,502                $56,978                $60,949
 4                $52,314                $57,080                $59,260
 5                $49,162                $56,714                $56,777  ,
   Junior Engineer Salary Middle Engineer Salary Senior Engineer Salary
 0             78,056 CHF             80,887 CHF            112,940 CHF,
    Tech stack Salary 2017 Salary 2018 Salary 2019 Salary 2020 Salary 2021
 0        Java     $83,299     $94,051     $83,852     $91,738    $101,022
 1          C#     $81,367     $88,176     $87,107     $89,860    $112,315
 2         C++     $93,926     $89,086     $82,738     $94,197    $100,606
 3        .NET     $94,320     $78,680     $77,546     $92,146    $113,790
 4  JavaScript     $92,988     $92,726     $91,380     $85,059     $99,730
 5         PHP     $73,207     $67,267     $78,128     $74,758     $95,468,
   Junior Engineer Salary Middle Engineer Salary Senior Engineer Salary
 0            419,789 DKK            470,083 DKK            542,488 DKK,
    Tech stack Salary 2017 Salary 2018 Salary 2019 Salary 2020 Salary 2021
 0        Java     $70,380     $72,800     $73,180     $70,541     $74,874
 1          C#     $64,463     $65,176     $65,355     $65,555     $69,326
 2         C++     $70,008     $70,782     $70,500     $62,484     $78,473
 3        .NET     $74,860     $75,688     $75,051     $69,829     $71,070
 4  JavaScript     $65,852     $69,205     $53,891     $63,996     $67,957,
   Junior Engineer Salary Middle Engineer Salary Senior Engineer Salary
 0            488,934 NOK            598,947 NOK            723,049 NOK,
    Tech stack Salary 2017 Salary 2018 Salary 2019 Salary 2020 Salary 2021
 0        Java     $67,397     $67,979     $67,337     $58,463     $72,283
 1          C#     $67,272     $66,740     $65,145     $62,133     $67,450
 2         C++     $67,330     $65,320     $77,507     $58,463     $64,935
 3        .NET     $67,397     $71,486     $72,335     $61,876     $69,705
 4  JavaScript     $66,573     $66,471     $72,500     $60,098     $66,386
 5         PHP     $66,694     $68,166     $70,838     $51,837     $53,753,
    Tech stack Salary in Israel 2017 Salary in Israel 2018  \
 0        Java               $56,168               $54,270
 1          C#               $64,834               $69,927
 2         C++               $66,191               $69,037
 3        .NET               $66,191               $60,588
 4  JavaScript               $65,592               $67,857
 5         PHP               $39,953               $46,873

   Salary in Israel 2019 Salary in Israel 2020 Salary in Israel 2021
 0               $65,666               $86,731               $93,728
 1               $66,897               $81,612               $94,214
 2               $67,369               $65,181               $67,732
 3               $65,324              $105,053               $68,221
 4               $58,791               $54,986               $69,143
 5               $48,993               $74,666               $79,284  ,
   Junior Software Engineer Salary Middle Software Engineer Salary  \
 0                     360,000 SEK                     474,044 SEK

   Senior Software Engineer Salary
 0                     569,015 SEK  ,
    Tech stack Salary 2017 Salary 2018 Salary 2019 Salary 2020 Salary 2021
 0        Java     $54,987     $56,009     $55,296     $44,774     $57,652
 1          C#     $51,031     $51,330     $52,011     $44,301     $50,687
 2         C++     $52,128     $52,339     $52,692     $49,132     $52,361
 3        .NET     $54,872     $53,469     $55,250     $44,819     $56,366
 4  JavaScript     $52,677     $49,726     $52,754     $44,640     $61,782,
    Tech stack Salary 2017 Salary 2018 Salary 2019 Salary 2020 Salary 2021
 0        Java     $58,166     $69,114     $72,000     $95,171     $89,001
 1         C++     $51,714     $62,203     $65,454     $65,635     $82,155
 2        .NET     $54,909     $58,747     $57,600     $59,072     $61,616
 3  JavaScript     $58,133     $66,349     $65,454     $66,948     $78,731
 4         PHP     $48,444     $52,197     $52,363     $55,790     $54,770,
    Tech stack Salary 2017 Salary 2018 Salary 2019 Salary 2020 Salary 2021
 0        Java     $43,937     $50,896     $47,996     $50,709     $57,692
 1          C#     $41,528     $47,897     $45,166     $48,043     $56,540
 2         C++     $44,914     $53,217     $51,308     $55,902     $69,492
 3        .NET     $40,556     $49,428     $47,598     $50,844     $52,829
 4  JavaScript     $43,982     $52,157     $48,251     $48,597     $56,808
 5         PHP     $39,447     $44,981     $40,594     $45,602     $48,084,
   Junior Engineer Salary Middle Engineer Salary Senior Engineer Salary
 0             65,364 AUD             81,681 AUD             92,186 AUD,
   Programming Language Software Developer Salary in Australia in 2020  \
 0              Android                                        $50,937
 1                  iOS                                        $49,000
 2                   C#                                        $47,705
 3                 Ruby                                        $46,001
 4               Python                                        $45,467
 5                  C++                                        $44,622
 6                 Java                                        $44,052
 7                 .NET                                        $43,906
 8           JavaScript                                        $42,578
 9                  PHP                                        $38,607

   Software Developer Salary in Australia in 2021
 0                                        $63,319
 1                                        $62,052
 2                                        $57,986
 3                                        $65,534
 4                                        $59,300
 5                                        $60,780
 6                                        $63,342
 7                                        $58,539
 8                                        $58,076
 9                                        $53,996  ,
   Junior Engineer Salary Middle Engineer Salary Senior Engineer Salary
 0             33,147 EUR             48,621 EUR             56,213 EUR,
    Tech stack Salary in 2017 Salary in 2018 Salary in 2019 Salary in 2020  \
 0        Java        $44,952        $50,196        $47,329        $51,176
 1          C#        $39,800        $45,856        $42,215        $37,186
 2         C++        $39,009        $44,406        $41,069        $44,091
 3        .NET        $41,425        $45,956        $43,255        $40,867
 4  JavaScript        $42,819        $48,746        $42,913        $45,032
 5         PHP        $41,977        $44,886        $39,219        $43,597

   Salary in 2021
 0        $56,752
 1        $54,070
 2        $41,409
 3        $53,504
 4        $50,788
 5        $47,590  ,
            Country Salary 2021 Salary 2017
 0          The USA    $103,476    $102,059
 1           The UK     $89,001     $58,166
 2      Switzerland    $101,022     $83,299
 3           Israel     $93,728     $56,168
 4          Denmark     $74,874     $70,380
 5          Germany     $59,544     $48,370
 6           Norway     $72,283     $67,397
 7          Finland     $56,752     $44,952
 8  The Netherlands     $57,692     $43,937
 9           Sweden     $57,652     $54,987,
            Country Salary 2021 Salary 2017
 0          The USA    $112,550    $110,057
 1      Switzerland     $99,730     $92,988
 2           The UK     $78,731     $58,133
 3          Denmark     $67,957     $65,852
 4           Norway     $66,386     $66,573
 5          Germany     $59,260     $46,321
 6           Israel     $69,143     $65,529
 7  The Netherlands     $56,808     $43,982
 8          Finland     $50,788     $42,819
 9           Sweden     $61,782     $52,667,
            Country Salary 2021 Salary 2017
 0          The USA     $90,707     $86,353
 1      Switzerland     $95,468     $73,207
 2           Israel     $79,284     $39,953
 3          Germany     $56,777     $47,421
 4           The UK     $54,770     $48,444
 5           Norway     $53,753     $66,694
 6  The Netherlands     $48,084     $39,447
 7          Finland     $47,590     $41,977,
            Country Salary 2021 Salary 2017
 0      Switzerland    $112,315     $81,367
 1           Israel     $94,214     $64,834
 2          The USA     $82,490     $93,378
 3          Denmark     $69,326     $64,463
 4           Norway     $67,450     $67,272
 5          Germany     $57,124     $46,708
 6  The Netherlands     $56,540     $41,528
 7           Sweden     $50,687     $51,031
 8          Finland     $54,070     $39,800,
            Country Salary 2021 Salary 2017
 0          The USA    $104,681    $115,619
 1      Switzerland    $100,606     $93,296
 2           The UK     $82,155     $51,714
 3           Israel     $67,732     $66,191
 4          Denmark     $78,473     $70,008
 5          Germany     $63,312     $53,631
 6           Norway     $64,935     $67,330
 7  The Netherlands     $69,492     $44,914
 8           Sweden     $52,361     $52,128
 9          Finland     $41,409     $39,009]

In [5]:
len(web_data)
type(web_data)

list